# ignore Composer
composer.lock

# IDE files
.idea
*.iml
nbproject

# ignore third-party library
vendor

# ignore logs
logs

# ignore build-files
build

# ignore config
config/config.ini

# ignore phpunit cache
.phpunit.cache